<h1>Search Food</h1>

<div class="search">
  <div align="center" class="buttonHolder">
    <%= form_tag "/dashboard", method: :get do %>
      <input type="text" name="search_food" placeholder="Search...">
      <input class="btn" type="submit" value="Search" >
      <% end %>
  </div>


  <% @food.each do |food| %>

  <div class="row">
    <div class="col-md-2">
      <h4>Calories</h4>
      <div class="well"><p><%= food.calories %></p></div>
    </div>

    <div class="col-md-2">
      <h4>Protein</h4>
      <div class="well"><p><%= food.protein %></p></div>
    </div>

    <div class="col-md-2">
      <h4>Sugar</h4>
      <div class="well"><p><%= food.sugar %></p></div>
    </div>

    <div class="col-md-2">
      <h4>Total Fat</h4>
      <div class="well"><p><%= food.totalfat %></p></div>
    </div>

    <div class="col-md-2">
      <h4>Sodium</h4>
      <div class="well"><p><%= food.sodium %></p></div>
    </div> 

     <div class="col-md-2">
      <h4>Cholesterol</h4>
      <div class="well">
        <p>
          <% if food.cholesterol == nil %>
            <%= 0 %>
          <% else %>
            <%= food.cholesterol %>
          <% end %>
        </p>
      </div>
    </div>

  <h4>Food Name: <%= food.name %></h4>
  <h4>Serving Size: <%= food.quanity %></h4>
  <input class="btn" type="submit" value="Add To Meal" >


  </div>
  <% end %>
</div>
