<h1>Search Food</h1>


<div class="search">
  <div align="center" class="buttonHolder">
    <%= form_tag "/dashboard", method: :get do %>
      <input type="text" name="search_food" placeholder="Search...">
      <input class="btn" type="submit" value="Search" >
      <% end %>
  </div>

  <% @food.each do |food| %>
    
    <div align="center">
      <div id="element1">
        <h4>Food Name: <%= food.name %></h4> 
      </div>
      <div id="element1">|</div>
      <div id="element2">
        <h4>Serving Size: <%= food.serving_size %> <%= food.unit %></h4>
      </div>
      <div id="element1">|</div>
      <div id="element2">
        <h4>Quantity: </h4>
      </div>
      <div id="element1">
        <select class="form-control quant" id="quantity" onchange="changeFunc();">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        </div>
    </div>

    <div class="row display">
      <div class="col-md-2">
        <h4>Calories</h4>
        <div class="well"><p id="calories" value="<%= food.calories %>"><%= food.calories %></p></div>
      </div>

      <div class="col-md-2">
        <h4>Protein (g)</h4>
        <div class="well"><p><%= food.protein %></p></div>
      </div>

      <div class="col-md-2">
        <h4>Sugar (g)</h4>
        <div class="well"><p><%= food.sugar %></p></div>
      </div>

      <div class="col-md-2">
        <h4>Total Fat (g)</h4>
        <div class="well"><p><%= food.totalfat %></p></div>
      </div>

      <div class="col-md-2">
        <h4>Sodium (mg)</h4>
        <div class="well"><p><%= food.sodium %></p></div>
      </div> 

       <div class="col-md-2">
        <h4>Cholesterol (mg)</h4>
        <div class="well">
          <p>
            <% if food.cholesterol == nil %>
              <%= 0 %>
            <% else %>
              <%= food.cholesterol %>
            <% end %>
          </p>
        </div>
      </div>
    
      <div align="center">
        <input class="btn" type="submit" value="Add To Meal" >
      </div>
    </div>

  <% end %>
</div>



